{% extends 'base.html' %}

{% block contenido %}

<div class="p-5 text-light text-center">
    <img class="large-img" src="../static/imgs/bannerlol_busqueda.JPG">
    <br>
    <br>
    <h2>Buscar Invocador</h2>
    <br>
    <!-- <p>Ingresa los los datos necesarios para buscar a un Invocador</p> -->

    <div class="p-3">

        <div class="form-container">
                <form id="summonerInfoForm" action="{% url 'view_single_summoner' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <input class="btn btn-primary" type="submit" value="Buscar" id="searchButton">
                </form>
        </div>

        <script>
            document.getElementById('summonerInfoForm').addEventListener('submit', function(event) {
                event.preventDefault();
                var form = document.getElementById('summonerInfoForm');
                if (form.style.display !== 'none' && form.style.display !== 'none') {
                    if (form.checkValidity()) {
                        form.submit();
                    } else {
                        alert('Por favor, completa todos los campos requeridos en ambos formularios.');
                    }
                }
            });
        </script>

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                // Manejar el envío del formulario de un solo invocador
                $('#summonerInfoForm').submit(function(e){
                    e.preventDefault(); // Previene el envío normal del formulario
                    var formData = $(this).serialize(); // Serializa los datos del formulario
                    // Realiza la solicitud AJAX
                    $.ajax({
                        type: 'POST',
                        url: '/summoner/summoner_name>/summoner_tag>/summoner_region>/', // Ajusta si es necesario
                        data: formData,
                        success: function(response){
                            //$('#html-container').html(response);
                            // window.location.href = 'http://127.0.0.1:8000/summoner/summoner_name/summoner_tag/summoner_region/';
                             if(response.redirectUrl) {
                                window.location.href = response.redirectUrl; // Redirige a la URL
                            } else {
                                console.error("No redirect URL provided.");
                            }
                        },
                        error: function(xhr, errmsg, err){
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    });
                });
        
                // Manejar el envío de ambos formularios para comparación
                $('#secondSummonerInfoForm').submit(function(e){
                    e.preventDefault(); // Previene el envío normal del formulario
                    var formData1 = $('#summonerInfoForm').serialize();
                    var formData2 = $(this).serialize();
                    var combinedData = formData1 + '&' + formData2;
                    // Realiza la solicitud AJAX
                    $.ajax({
                        type: 'POST',
                        url: '/get_summoner/', // Ajusta si es necesario
                        data: combinedData,
                        success: function(response){
                            if(response.redirectUrl) {
                                window.location.href = response.redirectUrl; // Redirige a la URL
                            } else {
                                console.error("No redirect URL provided.");
                            }
                        },
                        error: function(xhr, errmsg, err){
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    });
                });
            });
        </script> -->
    <br>
    <br>
    {% comment %} <p>
        Los datos obtenidos por League of Data tienen fines estadísticos y
        se utilizan para generar una visualización detallada
        de las últimas partidas de los jugadores. Estos datos permiten
        a los usuarios obtener una comprensión profunda de su rendimiento
        y las tendencias en sus patidas recientes.
    </p>
    <br>
    <p>
        Se recopilan y procesan diversos tipos de datos para crear gráficos
        informativos y detallados que reflejan las últimas partidas de la
        temporada actual
    </p> {% endcomment %}
    <br>
    {% comment %} <p>
        Al ofrecer una visualización clara y comprensible de estos datos,
        la aplicación permite a los jugadores identificar patrones y áreas
        de mejora en su juego. Esta información es esencial para aquellos
        que buscan optimizar su rendimiento y alcanzar nuevos niveles
        de competencia en League of Legends. Los gráficos y datos detallados
        proporcionan una base sólida para el análisis personal y la comparación
        con otros jugadores.
    </p> {% endcomment %}
    </div>
    
{% endblock %}