{% extends 'base.html' %}

{% block contenido %}
<form method="post">
    {% csrf_token %}
    Summoner 1 Name: <input type="text" name="summoner1_name"><br>
    Summoner 1 Tag: <input type="text" name="summoner1_tag"><br>
    Summoner 1 Region: <input type="text" name="summoner1_region"><br>
    Summoner 2 Name: <input type="text" name="summoner2_name"><br>
    Summoner 2 Tag: <input type="text" name="summoner2_tag"><br>
    Summoner 2 Region: <input type="text" name="summoner2_region"><br>
    <input type="submit" value="Compare">
</form>
{% endblock %}