{% extends 'base.html' %}

{% block contenido %}

<div class="text-light p-3">
    <h1 class="p-5">Buscar Invocador</h1>

    <div class="text-center">
        <p>-Ingresa tu Nick y Tag de Invocador-</p>
    
        <form class="d-flex justify-content-center">
            <div class="col-md-2">
                <input class="form-control" placeholder="Ingresa tu Nick">
            </div>

            <div class="col-md-2">    
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">#</span>
                    <input type="text" class="form-control" placeholder="Ingresa tu Tag">
                </div>
            </div>
            
        </form>

        <div class="p-3">
            <button type="button" class="btn btn-outline-info">Buscar</button>
            
        </div>    
    </div>

    <div class="p-5">
        <div class="datosPerfil">
            <h3>Perfil</h3>
            <p>[Imagen Perfil]</p>
            <p>Usuario:</p>
            <p>Nivel:</p>
        </div>

        <div class="mt-5 ">
            <h4>Acciones</h4>
            <button type="button" class="btn btn-primary btn-lg">Generar Gráfico</button>

        </div>

    </div>

</div>
{% endblock %}