{% extends 'base.html' %}

{% block contenido %}
    <div class="p-5 text-light">

        {% if summoner.summoner_name %}
            <h2 class="text-center">Datos de Partidas de {{ summoner.summoner_name }}</h2>
        {% else %}
            <p>Error: Nombre del invicador no disponible</p>
        {% endif %}
        <div class="text-center">
            <p><img class="mid-img" src="https://ddragon.leagueoflegends.com/cdn/14.12.1/img/profileicon/{{ summoner.profile_icon }}.png"><br></p>
            <p>División/Rango: {{ summoner.tier }} {{ summoner.rank }}, {{ summoner.league_points }} LP</p>
            <p>Total Partidas Ganadas: {{ summoner.total_wins }}</p>
            <p>Total Partidas Perdidas: {{ summoner.total_losses }}</p>
            <p>Ratio de Victorias: {{ winrate|floatformat:1 }}%</p>
        </div>
        <br><br>
        <div class="analysis-comments">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#geminiAnalysis" aria-expanded="false" aria-controls="geminiAnalysis">
                Mostrar/Ocultar Análisis GEMINI
            </button>
            <div class="collapse" id="geminiAnalysis">
                <div>{{ chatgpt_graphic_data|safe }}</div>
            </div>
        </div>
        <br>
        <br>
        {% if match_details %}
        <div class="accordion custom-acc" id="matchAccordion">
            {% for detail in match_details %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ detail.match.api_match_id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ detail.match.api_match_id }}" aria-expanded="false" aria-controls="collapse{{ detail.match.api_match_id }}">
                        <img class="small-img" src="https://ddragon.leagueoflegends.com/cdn/14.12.1/img/champion/{{ detail.graphic_data.championName }}.png">
                        {% if detail.graphic_data.win == True %}
                            <p class="p-3 fs-5">Partida Ganada</p>
                        {% else %}
                            <p class="p-3 fs-5">Partida Perdida</p>
                        {% endif %}
                    </button>
                </h2>
                <div id="collapse{{ detail.match.api_match_id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ detail.match.api_match_id }}" data-bs-parent="#matchAccordion">
                    <div class="accordion-body">
                        <ul>
                            <li>Campeón: {{ detail.graphic_data.championName }}</li>
                            <li>KDA: {{ detail.graphic_data.kills }}/{{ detail.graphic_data.deaths }}/{{ detail.graphic_data.assists }}</li>
                            <li>Oro Total Obtenido: {{ detail.graphic_data.goldEarned }}</li>
                            <li>Daño Total Infligido: {{ detail.graphic_data.totalDamageDealt }}</li>
                            <li>Daño Total Recibido: {{ detail.graphic_data.totalDamageTaken }}</li>
                            <li>Rol: {{ detail.graphic_data.role }}</li>
                            <li>Linea: {{ detail.graphic_data.lane }}</li>
                        </ul>
                        
                        <div>
                            <img class="large-img" src="{% url 'plot_image' summoner_name=summoner.summoner_name match_id=detail.match graph_type='dano' %}" alt="Gráfico de Daño">
                            <img class="large-img" src="{% url 'plot_image' summoner_name=summoner.summoner_name match_id=detail.match graph_type='exp' %}" alt="Gráfico de Experiencia">
                            <img class="large-img" src="{% url 'plot_image' summoner_name=summoner.summoner_name match_id=detail.match graph_type='minions' %}" alt="Gráfico de Minions">
                            <img class="large-img" src="{% url 'plot_image' summoner_name=summoner.summoner_name match_id=detail.match graph_type='nivel' %}" alt="Gráfico de Nivel">
                            <img class="large-img" src="{% url 'plot_image' summoner_name=summoner.summoner_name match_id=detail.match graph_type='oro' %}" alt="Gráfico de Oro">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p>No hay información de partidas para mostrar.</p>
        {% endif %}
    </div>
{% endblock %}

