{% extends 'base.html' %}

{% block contenido %}
<div class="p-5 text-light">

    <h2>Match Data for {{ summoner_name }}</h2>
        {% if match_data %}
    <ul>
    {% for match in match_data %}
        <li>ID de Partida: {{ match.match_id }}</li>
        <li>Campeón: {{ match.championName }}</li>
        <li>Asesinatos: {{ match.kills }}</li>
        <li>Asistencias: {{ match.assists }}</li>
        <li>Muertes: {{ match.deaths }}</li>
        <li>Oro Total Obtenido: {{ match.goldEarned }}</li>
        <li>Daño Total Infligido: {{ match.totalDamageDealt }}</li>
        <li>Daño Total Recibido: {{ match.totalDamageTaken }}</li>
        <li>Rol: {{ match.role }}</li>
        <li>Linea: {{ match.lane }}</li>
        <li>Ganada: {{ match.win }}</li>
        <button onclick="drawGraph({{ match.kills }}, {{ match.deaths }}, {{ match.assists }}, {{ match.goldEarned }}, {{ match.totalDamageDealt }}, {{ match.totalDamageTaken }}, 'graph{{ forloop.counter }}')">Mostrar Gráfico</button>
        <canvas id="graph{{ forloop.counter }}" class="graph"></canvas>
        <hr>
    {% endfor %}
    </ul>
    {% else %}
    <p>No match data available.</p>
    {% endif %}

</div>
{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
{% verbatim %}
function drawGraph(kills, deaths, assists, goldEarned, totalDamageDealt, totalDamageTaken, elementId) {
    var ctx = document.getElementById(elementId).getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Asesinatos', 'Muertes', 'Asistencias', 'Oro Obtenido', 'Daño Total Infligido', 'Daño Total Recibido'],
            datasets: [{
                data: [kills, deaths, assists, goldEarned, totalDamageDealt, totalDamageTaken],
                backgroundColor: [
                    '#FFCD56',  // Amarillo
                    '#FF6384',  // Rojo
                    '#4BC0C0',  // Verde agua
                    '#36A2EB',  // Azul
                    '#9966FF',  // Púrpura
                    '#FF9F40'   // Naranja
                ],
                borderColor: [
                    '#FFCD56',  // Amarillo
                    '#FF6384',  // Rojo
                    '#4BC0C0',  // Verde agua
                    '#36A2EB',  // Azul
                    '#9966FF',  // Púrpura
                    '#FF9F40'   // Naranja
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false,
                    grid: {
                        color: '#FFFFFF1A' // Color de la cuadrícula del eje Y en hexadecimal con opacidad
                    },
                    ticks: {
                        color: '#FFFFFFB3' // Color de los números y ticks en el eje Y en hexadecimal con opacidad
                    }
                },
                x: {
                    grid: {
                        color: '#FFFFFF1A' // Color de la cuadrícula del eje X en hexadecimal con opacidad
                    },
                    ticks: {
                        color: '#FFFFFFB3' // Color de los números y ticks en el eje X en hexadecimal con opacidad
                    }
                }
            },
            plugins: {
                legend: {
                    display: false // Desactiva la leyenda completamente
                }
            }
        }
    });
}
{% endverbatim %}
</script>
{% endblock %}
