{% extends 'base.html' %}

{% block contenido %}
<div class="p-5 text-light">

    <h2>Match Data for {{ summoner.summoner_name }}</h2>
    
    <div class="text-center">
        
        <p>[Profile Image] <br>Perfil</p>
        <p>División/Rango: {{ tier }} {{ rank }}</p>
        <p>Total Partidas Ganadas: {{ total_wins }}</p>
        <p>Total Partidas Perdidas: {{ total_losses }}</p>
        <p>Ratio de Victorias: {{ winrate|floatformat:1 }}%</p>
    </div>
    <br><br>
    {% if match_data %}
    <div class="accordion" id="matchAccordion">
        {% for match in match_data %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ match.match_id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ match.match_id }}" aria-expanded="false" aria-controls="collapse{{ match.match_id }}">
                    Detalles Partida
                </button>
            </h2>
            <div id="collapse{{ match.match_id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ match.match_id }}" data-bs-parent="#matchAccordion">
                <div class="accordion-body">
                    <strong>Detalles de la Partida:</strong>
                    <ul>
                        <li>Campeón: {{ match.champion }}</li>
                        <li>Asesinatos: {{ match.kills }}</li>
                        <li>Asistencias: {{ match.assists }}</li>
                        <li>Muertes: {{ match.deaths }}</li>
                        <li>Oro Total Obtenido: {{ match.gold_earned }}</li>
                        <li>Daño Total Infligido: {{ match.total_damage_dealt }}</li>
                        <li>Daño Total Recibido: {{ match.total_damage_taken }}</li>
                        <li>Rol: {{ match.role }}</li>
                        <li>Linea: {{ match.lane }}</li>
                        <li>Ganada: {{ match.win }}</li>
                    </ul>
                    <div>
                        <img class="graph-img" src="{% url 'time_info_to_plot_image' summoner_name=summoner.summoner_name match_id=match.match_id graph_type='dano' %}" alt="Gráfico de Daño">
                        <img class="graph-img" src="{% url 'time_info_to_plot_image' summoner_name=summoner.summoner_name match_id=match.match_id graph_type='exp' %}" alt="Gráfico de Experiencia">
                        <img class="graph-img" src="{% url 'time_info_to_plot_image' summoner_name=summoner.summoner_name match_id=match.match_id graph_type='minions' %}" alt="Gráfico de Minions">
                        <img class="graph-img" src="{% url 'time_info_to_plot_image' summoner_name=summoner.summoner_name match_id=match.match_id graph_type='nivel' %}" alt="Gráfico de Nivel">
                        <img class="graph-img" src="{% url 'time_info_to_plot_image' summoner_name=summoner.summoner_name match_id=match.match_id graph_type='oro' %}" alt="Gráfico de Oro">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No hay información de partidas para mostrar.</p>
    {% endif %}
</div>
{% endblock %}

