{% extends 'base.html' %}

{% block contenido %}

<div class="text-light p-5 text-center">
    <h2>
        ¿Qué es League of Data?
    </h2>

    <div class="p-5">

        <p>
            League of Data es una innovadora aplicación diseñada para los entusiastas del popular
            juego en línea League of Legends. Su principal función es encontrar a los Invocadores,
            los jugadores del juego, y proporcionarles información detallada sobre sus últimas
            partidas. Esto permite a los usuarios obtener un análisis exhaustivo de su rendimiento
            en el juego. 
        </p>
        <br>
        
        <p>
            Actualmente, la aplicación se especializa en obtener y mostrar datos de las Partidas
            Clasificatorias, que son las competiciones oficiales dentro del juego, y en algunos
            casos, también incluye las Partidas de Evento, como el Modo Arena. Cada partida
            registrada por la aplicación se presenta con una variedad de detalles importantes,
            como la relación KDA (Asesinatos - Muertes - Asistencias), el Campeón utilizado
            en la partida, el Daño recibido y el Daño infligido, entre otros datos cruciales.
        </p>
        <br>
        <h4>Enfoque</h4>
        <p>
            El principal objetivo de League of Data es proporcionar a los jugadores una
            herramienta para realizar comparaciones detalladas de su rendimiento personal.
            Al analizar estos datos, los jugadores pueden identificar sus fortalezas y debilidades,
            y así trabajar en mejorar en las áreas donde se perciban deficiencias. La aplicación
            está diseñada para ser un recurso valioso para aquellos que buscan mejorar su desempeño
            y subir en las clasificaciones del juego.
        </p>
        <br>
        <h4>Otras Funciones</h4>
        <p>
            Además de las funciones mencionadas, League of Data permite a los usuarios compararse
            directamente con otros jugadores de League of Legends. Esta comparación se basa en
            los datos generales de cada Invocador frente a la Temporada Actual. Al hacer esto,
            los jugadores pueden obtener una guía sobre qué pasos seguir para alcanzar el nivel
            de habilidad de los Invocadores más avanzados. Esto incluye consejos y estrategias
            basadas en el análisis de los datos de jugadores más experimentados, proporcionando
            una hoja de ruta para aquellos que desean mejorar y destacarse en el juego.
        </p>
        <br>
        <p>
            League of Data no solo es una herramienta de análisis y comparación, sino también
            una guía estratégica para los jugadores de League of Legends que buscan superarse
            y alcanzar nuevos niveles de competencia en el juego. Con su enfoque detallado y
            personalizado, esta aplicación se convierte en un aliado indispensable para
            cualquier jugador comprometido con su progreso y éxito en League of Legends.
        </p>
    </div>

</div>

{% endblock %}