{% extends 'base.html' %}

{% block contenido %}

<div class="text-light p-5 text-center">
    <img class="large-img" src="../static/imgs/bannerlol.jpg">    
    <class="p-5">
        <br> 
        
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h4>
                    Busca tus estadísticas: 
                 </h4>
                <p>
                    
                    <br>
                    Puedes ingresar tus datos de Invocador para ver información estadistica 
                    de tu cuenta y de tus partidas clasificatorias.
                    <br>
                </p>
            </div>
            <div class="col-md-4"></div>
        </div>
        
            <br>
            <img class="large-img" src="../static/imgs/demo/Perfil.png">
            <br><br>  
        
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p>                    
                    <br>
                    Puedes acceder a gráficos estadísticos que te permitirán visualizar tu
                    desempeño en las partidas clasificatorias.
                    <br>
                </p>
            </div>
            <div class="col-md-4"></div>
        </div>
            
        <br><br>
                <img class="large-img" src="../static/imgs/demo/Graph2.png">
        <br><br>
            
        
        
        <br><br>
       
        
        
        
        
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h4>
                    Comparar Invocadores:
                </h4>
                <p>                    
                    <br>
                    Compara las fortalezas y debilidades de dos invocadores de la Grieta, 
                    obtén datos gráficos para asimilar mejor la información.
                    <br>
                </p>
            </div>
            <div class="col-md-4"></div>
        </div>
        
        <br>
        <img class="large-img" src="../static/imgs/demo/Compara2.png">
    
        <br><br><br><br>
        <p>
            League of Data no solo es una herramienta de análisis y comparación, sino también
            una guía estratégica para los jugadores de League of Legends que buscan superarse
            y alcanzar nuevos niveles de competencia en el juego. Con su enfoque detallado y
            personalizado, esta aplicación se convierte en un aliado indispensable para
            cualquier jugador comprometido con su progreso y éxito en League of Legends.
        </p>
    </div>

</div>

{% endblock %}