{% extends 'base.html' %}

{% block contenido %}
<div class="text link-light p-5">
    
    <h2 class="text-center">
        Nosotros
    </h2>

    <div class="p-5">
        <p>
            League of Data Team está compuesto por un grupo apasionado de desarrolladores,
            todos ellos aficionados dedicados al mundo de League of Legends. Su amor por el juego
            y su entusiasmo por el desarrollo tecnológico se unen en esta aplicación, cuyo objetivo
            es proporcionar herramientas útiles y efectivas para el entorno competitivo en línea.
        </p>
        <br>
        <p> 
            Cada miembro del equipo comparte una pasión común no solo por jugar, sino también
            por analizar y mejorar las dinámicas del juego competitivo. Esta pasión se traduce
            en un compromiso constante por encontrar y desarrollar soluciones innovadoras que puedan
            beneficiar a la comunidad de jugadores. Con una sólida comprensión de las mecánicas del
            juego y las necesidades de los jugadores, el equipo se dedica a recopilar y analizar
            la información más relevante y útil.
        </p>
        <br>
        <p>
            La misión principal del equipo de League of Data es ofrecer una guía integral para
            aquellos jugadores que buscan mejorar sus habilidades y enfrentarse con éxito a
            competidores desafiantes. Al recopilar datos detallados sobre el rendimiento en
            el juego, el equipo proporciona a los usuarios las herramientas y el conocimiento
            necesarios para identificar áreas de mejora y trazar un camino claro hacia el progreso.
        </p>
        <br>
        <p>
            El equipo no solo se enfoca en la creación de herramientas, sino también en la constante
            actualización y mejora de la aplicación. Entienden que el mundo de los juegos en línea
            es dinámico y cambiante, y se esfuerzan por mantenerse al día con las últimas tendencias
            y actualizaciones del juego. Esto asegura que los usuarios de League of Data siempre
            tengan acceso a la información más precisa y relevante.
        </p>
    </div>


</div>
{% endblock %}