{% extends 'base.html' %}

{% block contenido %}
<div class="container p-5 text-light">
    <h2 class="text-center">Comparación de Jugadores</h2>
    <div class="row p-5">
        <!-- Columna para el Jugador A -->
        <div class="col-md-3">
            <div>
                <div class="text-center">
                    <h3 class="text-white">{{ summonerA.summoner.summoner_name }}</h3>
                    <p>[Info Jugador A]</p>
                    <!-- Más estadísticas y gráficos -->
                </div>
            </div>
        </div>

        <!-- Columna para los Gráficos -->
        <div class="col-md-6">
            <div>
                <div class="text-center">
                    <h3>VS</h3>
                    <br>
                    <h5>Comparación Gráfica</h5>
                    {% comment %} <img class="img-fluid graph-img" src="{% url 'plot_compare' summoner_a=summonerA.summoner.summoner_name summoner_b=summonerB.summoner.summoner_name graph_type='radar' %}" alt="Gráfico de radar">
                    <br>
                    <br> {% endcomment %}
                    <img class="img-fluid graph-img" src="{% url 'plot_compare' summoner_a=summonerA.summoner.summoner_name summoner_b=summonerB.summoner.summoner_name graph_type='winrate' %}" alt="Gráfico de winrate">
                    <br>
                    <br>
                    <img class="img-fluid graph-img" src="{% url 'plot_compare' summoner_a=summonerA.summoner.summoner_name summoner_b=summonerB.summoner.summoner_name graph_type='champion' %}" alt="Gráfico de champion">
                    <br>
                    <br>
                    <img class="img-fluid graph-img" src="{% url 'plot_compare' summoner_a=summonerA.summoner.summoner_name summoner_b=summonerB.summoner.summoner_name graph_type='lane' %}" alt="Gráfico de ganadas por champion">
                </div>
            </div>
        </div>

        <!-- Columna para el Jugador B -->
        <div class="col-md-3">
            <div>
                <div class="text-center">
                    <h3 class="text-white">{{ summonerB.summoner.summoner_name }}</h3>
                    <p>[Info Jugador B]</p>
                    <!-- Más estadísticas y gráficos -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
