{% extends 'base.html' %}

{% block contenido %}
<div class="p-5 text-light">
    <h2>Comparación de Jugadores</h2>
    <div class="grid-container">
        <div class="grid-item">
            <h3>{{ summonerA.summoner.summoner_name }}</h3>
            <p></p>
            <!-- Más estadísticas y gráficos -->
        </div>
        <div class="grid-item">
            <h3>VS.</h3>
            <img class="graph-img" src="{% url 'plot_compare' summoner_a=summonerA.summoner.summoner_name summoner_b=summonerB.summoner.summoner_name graph_type='champion' %}" alt="Gráfico de champion">
            <!-- Más estadísticas y gráficos -->
        </div>
        <div class="grid-item">
            <h3>{{ summonerB.summoner.summoner_name }}</h3>
            <p></p>
            <!-- Más estadísticas y gráficos -->
        </div>
    </div>
</div>
{% endblock %}

